@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap');

* {
	font-family: 'Source Serif Pro', serif;
}

a.brand-logo{
   font-family: 'DM Serif Display', serif;
}

.mytask-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem .5rem;
}

.mytask-title {
	font-weight: 500;
}

.mytask-button {
	border-radius: 0.5rem;
}

.mytask-card {
   margin: 1rem 0;
	padding: 0.5rem 1.6rem;
	border-radius: 1rem;
}

.mytask-card-header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ececec;
}

.check-icon {
	cursor: pointer;
	padding: 0.5rem;
}

.mytask-task-status {
	text-transform: uppercase;
	font-weight: 500;
}

.mytask-card-text-wrapper {
	padding: 0 1rem;
}
.mytask-card-text-wrapper.urgent{
   border-left: 5px solid#f44336;
}
.mytask-card-text-wrapper.ongoing{
   border-left: 5px solid#4caf50;
}

.mytask-task-title {
	font-weight: 600;
	font-size: 1.3rem;
}
.mytask-task-description {
	margin-top: -0.9rem;
	font-weight: 300;
	font-size: 0.9rem;
}

.mytask-card-icon-wrapper {
	margin-top: -0.5rem;
}

.mytask-card-icon-wrapper i {
	padding-right: 0.5rem;
}

.clock-task {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 2rem;
}

.date-task {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 2rem;
}
